In [40]:
import pandas as pd
import os
import random

Poberemo podatke o številu okužb po dnevih

In [43]:
path="./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
df=pd.read_csv(path)
width=len(df.columns)-4 #Širina časovnega zaporedja
height=len(df)
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,50,50,53,59,70,75,82,114,147
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,461,502,511,581,639,639,701,773,839,825
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,138,150,150,160,178,178,200,212,226,243
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,93,99,117,129,149,149,197,238,428,566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,NaN,Somalia,5.1521,46.1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
459,NaN,Tanzania,-6.3690,34.8888,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
460,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
461,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
462,Cayman Islands,United Kingdom,19.3133,-81.2546,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1

Iz teh podatkov naredimo seznam časovnih vrst.

In [45]:
series=[]
for row in range(height):
    data=[]
    for col in range(4,len(df.columns)):
        data.append(df[df.columns[col]][row])
    series.append(data)

Vzamemo neko funkcijo za napako ki je odporna na b=0, ampak vseeno rajši aproksimira relativno napako, ker nas ta precej bolj zanima

In [246]:
def err(x,a):
    if abs(x-a)<=10 or a==0:#Za majhne primere je ok če je približno blizu
        return 0
    else:
        return abs(x/a-1)

Napišemo si funkcijo ki oceni nek (model?) algoritem.

In [247]:
class Data_segment:
    def __init__(self,input_list):
        self.input=input_list[:-1]
        self.ans=input_list[-1]

In [248]:
def random_input_generator(length,previous_data_length):
    inputs=[]
    tries=1
    done=0
    while done<length:
        randRow=random.randrange(height)
        randIndexLeft=random.randrange(width-previous_data_length-1)
        ls=[]
        for i in range(previous_data_length+1):
            ls.append(series[randRow][randIndexLeft+i])
        if(ls[previous_data_length-1]==0):
            continue
        inputs.append(Data_segment(ls))
        done+=1
    return inputs

In [249]:
def evaluate(prediction):
    err_sum=0#vsota relativnih napak
    tries=len(inputs)
    previous_data_length=10#Koliko podatkov nazaj dobi prediction
    for input in inputs:
        response=prediction(input.input,previous_data_length)
        correct=input.ans
        error=err(response,correct)
        #print(str(input.input)+" "+str(response)+" "+str(input.ans)+" "+str(error))
        err_sum+=error
    return err_sum/tries

In [268]:
inputs=random_input_generator(100000,10)

Prvi poskus: število okužb jutri bo 0. To bi moralo dati slab rezultat

In [269]:
def return_healthy_for_sure(ls,length):
    return 0
print(evaluate(return_healthy_for_sure))

0.54353

Verjetno je precej boljša ideja da vrnemo število okuženih včeraj. Vsaj spodnja meja se ujema...

In [270]:
def return_yesterday(ls,length):
    return ls[-1]
print(evaluate(return_yesterday))

0.03324622622250321

Kot kaže je uporaba malo logike precej boljša. Kdo bi si mislil. Sedaj naredimo interpolacijo iz enega dneva nazaj

In [271]:
def small_interpolation(ls,length):
    return ls[-1]+(ls[-1]-ls[-2])
print(evaluate(small_interpolation))

0.021224093361580217

Hm to je morda malo boljše, ampak je izboljšava precej majhna. Ni mi še jasno zakaj...

Ok poskusimo sedaj interpolirati tako da vzamemo rast zadnjih dveh dni

In [272]:
def medium_interpolation(ls,length):
    return ls[-1]+(ls[-1]-ls[-3])/2
print(evaluate(medium_interpolation))

0.017801035771776785

Hm sedaj je rezultat še boljši. Vzemimo 3 dni

In [273]:
def longer_interpolation(ls,length):
    return ls[-1]+(ls[-1]-ls[-4])/3
print(evaluate(longer_interpolation))

0.017658079160912356

Spet boljše. Poskusimo 4 dni.

In [274]:
def long_interpolation(ls,length):
    return ls[-1]+(ls[-1]-ls[-5])/4
print(evaluate(long_interpolation))

0.018120237707217546

Sedaj dobimo malo slabši rezultat. Recimo da je interpolacija za 3 dni nekako kar v redu kar se tiče linearnih interpolacij. Ni očitno zakaj bi bila, ampak ne pričakujem da bo to najboljše kar bom lahko našel. Poskusimo sedaj z eksponentno funkcijo. Torej razmerje med predvčerajšnjim in včeraj bi moralo biti podobno razmerju med včeraj in danes.

In [277]:
def ratio_interpolation(ls,length):
    if ls[-3]==0:
        return longer_interpolation(ls,length)
    return ls[-1]*(ls[-2]/ls[-3])
print(evaluate(ratio_interpolation))

0.07507765912591098